body{
	margin:0;
	padding:0;
	background-image: url(resume2.jpg);
}
.RegBox{
	width:700px;
	height:800px;
	background:#000;
	color:#fff;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	border-radius:100px;
	padding:70px 30px;
	box-shadow:0 0 15px #000 inset;
	transition:1s;
	
	
}

h1{
	margin:0;
	margin-top:30px;
	padding:0 0 20px;
	text-align:center;
	font-size:40px;
	color:white;
}
h2{
	color:yellow;
}
h3{
	color:red;
}
