body{
	margin:0;
	padding:0;
	background-image: url(resume5.jpg);
}
.RegBox{
	width:500px;
	height:700px;
	background:#000;
	color:#fff;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	border-radius:100px;
	padding:70px 30px;
	box-shadow:0 0 15px #000 inset;
	transition:1s;
	
	
}

h1{
	margin:0;
	margin-bottom:30px;
	padding:0 0 20px;
	text-align:center;
	font-size:40px;
}
p{
	margin:0;
	padding:0;
	margin-bottom:20px;
	font-size:25px;
	
	}
	
	.RegBox input{
		width:100%;
		margin-bottom:20px;
		
	}
	.RegBox input[type="text"]{
		border:1px solid #fff;
		border-bottom:1px solid #fff;
		background:transparent;
		outline:none;
		height:40px;
		color:#fff;
		font-size:20px;
		transition:0.5s;
		border-radius:10px;
		
	}
	.RegBox input[type="text"]:hover{
		transform:scale(1.1);
		font-weight:bolder;
		
	}
	.RegBox input[type="password"]{
		border:1px solid #fff;
		border-bottom:1px solid #fff;
		background:transparent;
		outline:none;
		height:40px;
		color:#fff;
		font-size:20px;
		transition:0.5s;
		border-radius:10px;
		
	}
	.RegBox input[type="password"]:hover{
		transform:scale(1.1);
		font-weight:bolder;
		
	}
	
	
	
	
	
	
	
	
	
	
	
	
	.RegBox input[type="submit"]
	{   text-align:center;
	position:center;
	margin-top:20px;
	margin-left:170px;
	margin-right:auto;
	width:100px;
		border:none;
		outline:none;
		height:40px;
		background:#fb2525;
		color:#fff;
		font-size:18px;
		border-radius:70px;
		transition:1s;
	}
	.RegBox input[type="submit"]:hover{
		transform:scale(1.2);
	}